<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Not found</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/not-found.css' %}">
        <script src="https://kit.fontawesome.com/3e26edd0f3.js" crossorigin="anonymous" defer></script>   
  </head>
<body>
<main class="nf-main">
    <div id="nf">
        <div class="notfound-404">
            <img class="nf-img" src="{% static 'images/amico.png' %}" id="image" alt="not-found">
        </div>
        <div class="nf-text">
            <h1><strong>Oops,</strong> page not found</h1>
            <p>Go back to <a href="/">Home Page!</a>
            </p>
        </div>
    </div>
</main>
</body>
</html>