{% extends 'base.html' %}
{% load static %}


{% block title %}AUTH-WIKI | Home {% endblock %}
{% block content %}

<!--    
    <body>
    <main class="lpmiddle">
      <div class="lpmiddle1">
        <div class="lpmiddle1a">
          <div class="lpmiddle1ai">
            <h1 id="lpheading">Authentication Code Library for Developers</h1>
            <br />
            <p id="lptext">
              Every developer has a tab to open here on
              <br />
              AUTH_WIKI. Our library is extremely flexible
              <br />
              and modular.
            </p>
          </div>
          <div class="lpmiddle1aii">
            <img
              src="{% static 'images/undraw_developer_activity_re_39tg 3.png' %}"
              alt=""
              id="lpimage1"
            />
          </div>
        </div>
        <div class="lpmiddle1b">
          <div class="lpmiddle1bi">
            <img src="./images/js.png" alt="" id="lpimage2" />
            <p id="lptext1b">
              Create dynamic and interactive web content like applications and
              browsers with Javascript.
            </p>
            <a href="#" class="lplink1">...Learn more</a>
          </div>
          <div class="lpmiddle1bii">
            <img src="./Images/python.png" alt="" id="lpimage3" />
            <p id="lptext1b">
              Build websites, software, automate tasks, and conduct data
              analysis with Python.
            </p>
            <a href="#" class="lplink1">...Leran more</a>
          </div>
        </div>
        <div class="lpmiddle1c">
          <a href="#" class="button button-secondary2">View all strategies</a>
        </div>
      </div>
      <div class="lpmiddleb"></div>
      <div class="lpmiddle2">
        <div class="lpmiddle2a">
          <h1 id="lpheading">
            Contribute and Interact with Code Samples in our Community
          </h1>
          <br />
          <h3 id="lptext">
            Find and contribute answers to technical challenges you and others
            face when you code.
          </h3>
          <br />
          <a href="#" class="button button-secondary2">Join the community</a>
        </div>
        <div class="lpmiddle2b">
          <img src="./images/PRODUCT pythonf 2.png" alt="" id="lpimage4" />
          <img src="./images/PRODUCT pythonf 1.png" alt="" id="lpimage5" />
        </div>
      </div>
      <div class="lpmiddlec"></div>
      <div class="lpmiddle3">
        <div class="lpmiddle3a">
          <h1 id="lpheading2">
            Authentication made easy with
            <br />
            AUTH_WIKI.
          </h1>

          <p id="lptext3">
            Whether you are building your first login page or an expert in all
            thing identity, our
            <br />
            documentation will help you understand Auth_Wiki and use it in your
            application.
          </p>
        </div>
        <div class="lpmiddle3b">
          <div class="lpmiddle3bi">
            <img src="./images/Group Discussion.png" alt="#" />
            <h2>Tutorials</h2>
          </div>
          <div class="lpmiddle3bi">
            <img src="./images/guidelines.png" alt="#" />
            <h2>Guidelines</h2>
          </div>
          <div class="lpmiddle3bi">
            <img src="./images/siren.png" alt="#" />
            <h2>Reference</h2>
          </div>
          <div class="lpmiddle3bi">
            <img src="./images/idea.png" alt="#" />
            <h2>Conception</h2>
          </div>
        </div>
        <div class="lpmiddle3c">
          <a href="#" class="button button-secondary2">View documentation</a>
        </div>
      </div>
      <div class="lpmiddle4">
        <div class="lpmiddle4a">
          <div class="lpmiddle4ai">
            <div>
              <img src="./images/Frame 29.png" alt="" id="smallimage" />
            </div>
            <div>
              <h3 id="lpheading3">UNAUTHENTICATED</h3>
            </div>
          </div>
          <div class="lpmiddle4aii">
            <p id="lptext2">
              A Public Space to View The Platform and Basic Information About
              it.
            </p>
          </div>
          <div class="lpmiddle4aiii">
            <a href="#" class="button button-secondary2">Join community</a>
            <a href="#" class="lplink2">Or search its contents</a>
          </div>
        </div>
        <div class="lpmiddle4b">
          <div class="lpmiddle4bi">
            <div>
              <img src="./images/Frame 29.png" alt="" id="smallimage" />
            </div>
            <div>
              <h3 id="lpheading3">AUTHENTICATED</h3>
            </div>
          </div>
          <div class="lpmiddle4bii">
            <p id="lptext2">
              Have Full Access to The Platform Contribute However Way, View Code
              Samples and be Able to Download Codes.
            </p>
          </div>
          <div class="lpmiddle4biii">
            <a href="#" class="button button-secondary2">Get started</a>
          </div>
        </div>
      </div>
      <div class="lpmiddle5">
        <div class="lpmiddle5a">
          <h1 id="lpheading">Team AUTH_WIKI</h1>
          <p id="lptext">
            Our team is dedicated to building great software to solve the
            problems our customers face everyday.
          </p>
          <a href="#" class="button button-secondary2">meet the team</a>
        </div>
        <div class="lpmiddle5b">
          <img
            src="./images/undraw_team_collaboration_re_ow29 2.png"
            alt="#"
            id="lpimage6"
          />
        </div>
      </div>
      <div class="lpmiddle6">
        <h1 id="lpheading4">I4GxZURI TEAM</h1>
      </div>
    </main>
  </body> -->


<div class="homepage_wrapper" style="overflow:hidden;">

<div class="first_wrapper">

  <div class="first_wrapper_in">

<div class="first_box" data-aos="fade-right" data-aos-duration="1200">
  <h3>Authentication Code Library for Developers</h3>
  <p>Every developer has a tab to open here on <br>
    AUTH_WIKI. Our library is extremely flexible <br>
    and modular.</p>
</div>

<div class="first_box"  data-aos="fade-left" data-aos-duration="1200">
  <img src="{% static 'images/undraw_developer_activity_re_39tg 3.png' %}" alt="">
</div>

  </div>

  <div class="second_wrapper_in">

    <div class="second_box"  data-aos="fade-right" data-aos-duration="1200">
      <img src="{% static 'images/js.png' %}" alt="">
      <p>Create dynamic and interactive web content like applications and browsers with Javascript.</p>
      <a href="{% url 'libraries' %}"><button>Learn More... </button></a>
    </div>

<div class="second_box"  data-aos="fade-left" data-aos-duration="1200">
  <img src="{% static 'images/python.png' %}" alt="">
  <p>Build websites, software, automate tasks, and conduct data analysis with Python.</p>
  <a href="{% url 'libraries' %}"><button>Learn More... </button></a>
</div>

  </div>


  <div class="third_wrapper_in">
<a href="{% url 'libraries' %}"><button>View all Strategies</button></a>
  </div>

</div>


<div class="second_wrapper">
  <div class="second_wrapper_box" data-aos="fade-right" data-aos-duration="1200">
    <h3>Contribute and Interact with <br> Code Samples in <br> our Community</h3>
    <p>Find and contribute answers to technical <br> challenges you and others face when you <br> code.</p>
    <a href="{% url 'signup' %}"><button>Join The Community</button></a>
  </div>

  <div class="second_wrapper_box" data-aos="fade-left" data-aos-duration="1200">
    <div class="second_wrapper_box_blur">
    <div class="second_wrapper_box"><img src="{% static 'images/PRODUCT pythonf 2.png' %}" alt=""></div>
  </div>
  </div>

</div>



<div class="third_wrapper">
  <div class="first_third_wrap_in" data-aos="zoom-in-up" data-aos-duration="1200">
<h3>Authentication made easy with <br>
  AUTH_WIKI.</h3>
  <p>Whether you are building your first login page or an expert in all thing identity, our <br>
    documentation will help you understand Auth_Wiki and use it in your application</p>
  </div>

  <div class="second_third_wrap_in">

<div class="third_wrapper_box"  data-aos="zoom-in-up" data-aos-duration="1200">
  <img src="{% static 'images/Group Discussion.png' %}" alt="">
  <h3>Tutorials</h3>
</div>

<div class="third_wrapper_box"  data-aos="zoom-in-up" data-aos-duration="1200">
  <img src="{% static 'images/guidelines.png' %}" alt="">
  <h3>Guidelines</h3>
</div>

<div class="third_wrapper_box"  data-aos="zoom-in-up" data-aos-duration="1200">
  <img src="{% static 'images/siren.png' %}" alt="">
  <h3>Reference</h3>
</div>

<div class="third_wrapper_box"  data-aos="zoom-in-up" data-aos-duration="1200">
  <img src="{% static 'images/idea.png' %}" alt="">
  <h3>Conception</h3>
</div>

  </div>

  <div class="third_third_wrap_in"  data-aos="zoom-in-up" data-aos-duration="1200">
<a href="{% url 'documentation' %}"><button>View Documentation</button></a>
  </div>
</div>




<div class="fourth_wrapper">
  <div class="fourth_wrap_inner"  data-aos="fade-right" data-aos-duration="1200">

    <div class="fourth_wrap_inner_box">
      <img src="{% static 'images/Frame 29.png' %}" alt="">
      <h3>UNAUTHENTICATED</h3>
    </div>

    <div class="fourth_wrap_inner_box">
      <p>A Public Space to View The Platform <br> and Basic Information About it.</p>
    </div>


    <div class="fourth_wrap_inner_box" style="display:grid;">
      <a href="{% url 'signup' %}"><button>Join Community</button></a>
    </div>
  </div>

  <div class="fourth_wrap_inner"  data-aos="fade-left" data-aos-duration="1200">
<div class="fourth_wrap_inner_box">
    <img src="{% static 'images/Frame 29.png' %}" alt="">
    <h3>AUTHENTICATED</h3>
  </div>
  <div class="fourth_wrap_inner_box">
    <p>Have Full Access to The Platform <br>
      Contribute However Way, View <br> Code Samples and be Able <br> to Download Codes.</p>
  </div>

  <div class="fourth_wrap_inner_box" style="display:grid;">
    <a href="{% url 'libraries' %}"><button>Get Started</button></a>
  </div>

  </div>
</div>




<div class="fifth_wrapper">

  <div class="fifth_wrapper_box" data-aos="fade-right" data-aos-duration="1200">
    <h3>Team AUTH_WIKI</h3>
    <p>Our team is dedicated to building great <br> software to solve the problems developers <br> face everyday.</p>
 <a href="{% url 'team' %}"><button>Meet the Team</button></a>
  </div>

  <div class="fifth_wrapper_box" data-aos="fade-left" data-aos-duration="1200">
    <img src="{% static 'images/undraw_team_collaboration_re_ow29 2.png' %}" alt="">
  </div>
</div>



<div class="sixth_wrapper">
  <h3>I4GxZURI TEAM</h3>
</div>



</div>



<!-- <main class="lpmiddle">
  <div class="lpmiddle1">
    <div class="lpmiddle1a">
      <div class="lpmiddle1ai">
        <h1 id="lpheading">Authentication Code Library for Developers</h1>
        <br />
        <p id="lptext">
          Every developer has a tab to open here on
          <br />
          AUTH_WIKI. Our library is extremely flexible
          <br />
          and modular.
        </p>
      </div>
      <div class="lpmiddle1aii">
        <img
          src="./images/undraw_developer_activity_re_39tg 3.png"
          alt=""
          id="lpimage1"
        />
      </div>
    </div>
    <div class="lpmiddle1b">
      <div class="lpmiddle1bi">
        <img src="./images/js.png" alt="" id="lpimage2" />
        <p id="lptext1b">
          Create dynamic and interactive web content like applications and
          browsers with Javascript.
        </p>
        <a href="#" class="lplink1">...Learn more</a>
      </div>
      <div class="lpmiddle1bii">
        <img src="./Images/python.png" alt="" id="lpimage3" />
        <p id="lptext1b">
          Build websites, software, automate tasks, and conduct data
          analysis with Python.
        </p>
        <a href="#" class="lplink1">...Leran more</a>
      </div>
    </div>
    <div class="lpmiddle1c">
      <a href="#" class="button button-secondary2">View all strategies</a>
    </div>
  </div>
  <div class="lpmiddleb"></div>
  <div class="lpmiddle2">
    <div class="lpmiddle2a">
      <h1 id="lpheading">
        Contribute and Interact with Code Samples in our Community
      </h1>
      <br />
      <h3 id="lptext">
        Find and contribute answers to technical challenges you and others
        face when you code.
      </h3>
      <br />
      <a href="#" class="button button-secondary2">Join the community</a>
    </div>
    <div class="lpmiddle2b">
      <img src="./images/PRODUCT pythonf 2.png" alt="" id="lpimage4" />
      <img src="./images/PRODUCT pythonf 1.png" alt="" id="lpimage5" />
    </div>
  </div>
  <div class="lpmiddlec"></div>
  <div class="lpmiddle3">
    <div class="lpmiddle3a">
      <h1 id="lpheading2">
        Authentication made easy with
        <br />
        AUTH_WIKI.
      </h1>

      <p id="lptext3">
        Whether you are building your first login page or an expert in all
        thing identity, our
        <br />
        documentation will help you understand Auth_Wiki and use it in your
        application.
      </p>
    </div>
    <div class="lpmiddle3b">
      <div class="lpmiddle3bi">
        <img src="./images/Group Discussion.png" alt="#" />
        <h2>Tutorials</h2>
      </div>
      <div class="lpmiddle3bi">
        <img src="./images/guidelines.png" alt="#" />
        <h2>Guidelines</h2>
      </div>
      <div class="lpmiddle3bi">
        <img src="./images/siren.png" alt="#" />
        <h2>Reference</h2>
      </div>
      <div class="lpmiddle3bi">
        <img src="./images/idea.png" alt="#" />
        <h2>Conception</h2>
      </div>
    </div>
    <div class="lpmiddle3c">
      <a href="#" class="button button-secondary2">View documentation</a>
    </div>
  </div>
  <div class="lpmiddle4">
    <div class="lpmiddle4a">
      <div class="lpmiddle4ai">
        <div>
          <img src="./images/Frame 29.png" alt="" id="smallimage" />
        </div>
        <div>
          <h3 id="lpheading3">UNAUTHENTICATED</h3>
        </div>
      </div>
      <div class="lpmiddle4aii">
        <p id="lptext2">
          A Public Space to View The Platform and Basic Information About
          it.
        </p>
      </div>
      <div class="lpmiddle4aiii">
        <a href="#" class="button button-secondary2">Join community</a>
        <a href="#" class="lplink2">Or search its contents</a>
      </div>
    </div>
    <div class="lpmiddle4b">
      <div class="lpmiddle4bi">
        <div>
          <img src="./images/Frame 29.png" alt="" id="smallimage" />
        </div>
        <div>
          <h3 id="lpheading3">AUTHENTICATED</h3>
        </div>
      </div>
      <div class="lpmiddle4bii">
        <p id="lptext2">
          Have Full Access to The Platform Contribute However Way, View Code
          Samples and be Able to Download Codes.
        </p>
      </div>
      <div class="lpmiddle4biii">
        <a href="#" class="button button-secondary2">Get started</a>
      </div>
    </div>
  </div>
  <div class="lpmiddle5">
    <div class="lpmiddle5a">
      <h1 id="lpheading">Team AUTH_WIKI</h1>
      <p id="lptext">
        Our team is dedicated to building great software to solve the
        problems our customers face everyday.
      </p>
      <a href="#" class="button button-secondary2">meet the team</a>
    </div>
    <div class="lpmiddle5b">
      <img
        src="./images/undraw_team_collaboration_re_ow29 2.png"
        alt="#"
        id="lpimage6"
      />
    </div>
  </div>
  <div class="lpmiddle6">
    <h1 id="lpheading4">I4GxZURI TEAM</h1>
  </div>
</main> -->





    {% endblock %}
  
