
{% load static %}
{% load crispy_forms_tags %}  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
</head>
<body>
<style>
    input{
        border: grey solid 2px;
        border-radius: 10px;
        padding: 7px 20px;
        margin-bottom: 20px;
        outline: none;
    }
</style>
    <div class="header" style="background-color:#00BBF9 ; color: white; padding: 25px 0px; font-size: 25px; font-weight: bold;">
       <a href="{% url 'home' %}" style="color: white; text-decoration:none;" > <h3>AUTH WIKI</h3></a>
    </div>

    <center>
    <div class="main" style="padding-top: 200px;">
        <div class="text">
       </div>
        <h2 class="font-weight-bold mt-3">Password reset sent</h2>
        <hr>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
 
    </div>
</center>
   
</body>
</html>









