.tp-header {
    background-color: #fff;
    padding: 1.2rem;
}
.tp-hr{
    border: 1px solid var(--secondary-color2);
    border-top: none;
}
.container{
    padding: 3% 7%;
    background-color: #f8f5f5;
}
.tp-container,.tp-main-right {
    display: flex;
    justify-content: center;
}
/* Terms & Privacy */
.tp-main-left {
    border-radius: 5px;
    background-color: white;
    padding: 2.5rem;
    text-align: center;
    box-shadow:  .5px 1px 2px rgba(0,0,0,0.2);
    width: 50%;
}
.tp-main-left p{
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
}
.tp-note-head{
    margin-bottom: 10px;
}
.tp-terms-head {
    margin: 0 auto 30px;
}
.tp-terms-text, .tp-privacy{
    text-align: left;
    font-size: 15px;
}
.tp-privacy{
    margin: 20px 0;
}

.tp-btn{
    width: 250px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color:var(--secondary-color2);
    color: white;
    font-size: 10px;
    margin-top: 10px;
}
.tp-btn:hover{
    opacity: 0.6;
}
.tp-agree{
    display: flex;
    margin: 2rem 0;
    text-align: left;
}
.tp-checkbox{
    display: none;
    bottom: 10px;
}
.tp-checkbox + .tp-label:before{
    width: 10px;
    height: 10px;
    border: 2px solid var(--secondary-color2);
    border-radius: 2px;
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.2);
    position: relative;
    display: inline-block;
    top: 2.5px;
    margin-right: 10px;
    content: ""
}
.tp-checkbox:checked + .tp-label:before {
    background: var(--secondary-color2);
  }
.tp-main-right {
    width: 50%;
}
.tp-img{
    width: 80%;
    height: 80%;
    margin: auto;
}
@media screen and (max-width: 1200px){
    .tp-main-left {
        width: 100%;
        margin: 10px;
    }
    .tp-main-right{
        display: none;
    }
}
@media screen and (max-width: 550px){
    .tp-terms-head{
        font-size: 4vw;
    }
    .tp-note-head{
        font-size: 3vw;
    }
    .tp-main-left p, .tp-label{
        font-size: 2.5vw;
    }
}
@media screen and (max-width:350px){
    .tp-btn{
        width: 150px;
    }
}