body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    padding: 0 1.25rem;
    text-align: center;
}


/* ###---HEADER START---### */

header {
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 1.25rem 0;
}

header,
.desktop_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .company-logo {
    font-size: 1.25rem;
    letter-spacing: .05rem;
    text-align: left;
}

header a,
header button {
    border: none;
    /* background-color: #557E8C; */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;

    height: 2rem;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
}

header a:hover {
    border-radius: 0;
    border-bottom: 2px solid #003E53;
}


header .signup-btn {
    background-color: #00BBF9;
    border: none;
    color: white;
}

header button:hover {
    background-color: #003E53;
}

header input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 .5rem;
}

header input:focus {
    outline: none;
}

.mob_search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
}

.search-icon {
    font-size: .8rem;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: .5rem;
}

.mob_search-bar input {
    width: 100%;
    height: 1.75rem;
    padding: 0 1.75rem;
}

.company-logo {
    color: #00BBF9;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: .2rem;
}

.desktop_nav {
    display: none;
}

.mobile_nav {
    display: flex;
}

.nav_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #003E53;
    border-radius: 10px;
    height: 60vh;
    padding: 2rem 1.5rem;
    width: 80vw;

    position: absolute;
    top: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .7s ease-out;
    z-index: 3;
}

.nav_card a,
.nav_card button {
    background-color: transparent;
    color: white;
}

.nav_card.hide {
    left: -100vw;
}

.menu_btn {
    cursor: pointer;
    font-size: 1.25rem;
}

.menu_btn:hover {
    color: #003E53;
}

/* ###---HEADER END---### */

/* ###---MAIN START---### */

.lpmiddle {
    display: flex;
    flex-direction: column;
    width: 1728px;
}

.lpmiddle1 {
    background-color: #ccf1fe;
    height: 1023px;
    width: 1402px;
    border-radius: 16px 16px 0 0;
    margin: 72px 170px 200px 156px;

}

#lpheading1 {
    width: 923px;
    height: 174px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #005d7c;
    text-align: left;
}
#lptext1{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    text-align: left;
    width: 658px;
    height: 120px;
}

.lpbutton1{
    color: #fffdfd;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    border: none;
    width: 625px;
    height: 100px;
    border-radius: 8px;
    padding: 16px;
    gap: 10px;
    background-color: #00bbf9;
    box-shadow: 0px 4px 5px rgba(33, 33, 33, 0.1);
}
.lpmiddle1a,
.lpmiddle1b {
    display: flex;
    flex-direction: row;
}

.lpmiddle1a {
    margin-top: 97px;
    margin-left: 32px;
}

.lpmiddle1b {
    justify-content: space-between;
    margin-left: 71px;
    margin-right: 58px;
    margin-top: 120px;
}

.lpmiddle1c {
    margin-left: 396px;
    margin-right: 381px;
    margin-top: 50px;
}

#lpimage1 {
    width: 409px;
    height: 347px;
    border-right: 16px;
}

.lpmiddleb{
    border-top: 50px #ccf1fe;
    border-right: 701px #ccf1fe;
    border-left: 701px #ccf1fe;
    border-bottom: 50px white;
    border-style: solid;
    border-radius: 0 0 16px 16px;
    margin-top: -200px;
    width: 1402px;
    margin-left: 156px;
    z-index: -1;
    position: relative;

}

#lpimage2 {

    width: 600px;
    height: 315px;

}

#lpimage3, #lpimage4 {
    position: relative;
}

#lpimage4{
    z-index: -1;
    top: -587px;
    left: -90px;
}

.lpmiddle2 {
    height: 700px;
    display: flex;
    flex-direction: row;
    width: 1402px;
    margin-left: 170px;
    margin-left: 156px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.lpmiddle2a {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    padding-right: 80px;
    flex-direction: column;
    justify-content: space-evenly;
}

.lpmiddle2b{
    margin-left: 50px;
}

#lpheading2{
font-weight: 700;
font-size: 64px;
line-height: 87px;
color: #005e7d;
text-align: left;
font-size: 'Open Sans';
}

#lptext2{
    font-weight:400 ;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    font-size: 'Open Sans';
}

.lpmiddlec{
    border-bottom: 50px #ccf1fe;
    border-right: 701px #ccf1fe;
    border-left: 701px #ccf1fe;
    border-top: 50px white;
    border-style: solid;
    border-radius: 16px 16px 0 0;
    margin-bottom: -100px;
    width: 1402px;
    margin-left: 173px;
    margin-right: 153px;
    z-index: -1;
    position: relative;
}

.lpmiddle3 {
    margin-left: 173px;
    margin-right: 153px;
    margin-top: 93px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1402px;
    height: 878px;
    border-radius: 0 0 16px 16px;
    background-color: #ccf1fe;
    padding-bottom: 80px;
}

#lpheading3{
    font-weight: 700;
    font-style: normal;
    font-family: 'Open sans';
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #005e7d;
}
#lptext3{
    font-weight: 400;
    font-style: normal;
    font-family: 'Open sans';
    font-size: 32px;
    line-height: 40px;
    text-align: center;   
    margin-top: 50px;
}
.lpmiddle3a {
    margin: 107px 32.5px 112px 12.5px;
}

.lpmiddle3b {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 1px;
    padding-right: 21px;
    margin-bottom: 48px;
    margin-left: 0px;
}

.lpmiddle3c {
    margin-bottom: 56px;
    margin-left: 378.5px;
    margin-right: 398.5px;
}

.lpmiddle4 {
    display: flex;
    flex-direction: row;
    height: 1011px;
    width: 1472px;
    margin: 122px 128px 209px 128px;
    justify-content: space-between;

}

.lpmiddle4a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #005E7D;
    width: 640px;
    height: 1011px;
    border-radius: 8px;
    padding: 50px;
}
.lpmiddle4b {
    display: flex;
    flex-direction: column;
    background-color: #005e7d;
    width: 640px;
    height: 1011px;
    border-radius: 8px;
    padding: 50px;
    justify-content: space-between;
}
.lpmiddle4ai, .lpmiddle4bi{
    display: flex;
    flex-direction: row;
    place-items: center;
}
.lpmiddle4biii, .lpmiddle4aiii{
    margin-bottom: 50px;
}
#lpheading4{
    width: 266px;
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    color: #fffdfd;
    font-weight: 700;
    font-family: 'Open Sans';
    font-style: normal;
    margin-left: 30px;
}

#lptext4{
    width: 640px;
    color: #fffdfd;
    line-height: 40px;
    font-size: 32px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-family: 'Open Sans';
    font-style: normal;
    margin-top: -250px;
}

.lpbutton2{
    width: 300px;
    height: 72px;
    background-color: #00bbf9;
    box-shadow: 0px 4px 5px rgba(33, 33, 33, 0.1);
    border-radius: 8px;
    padding: 16px;
    border: none;
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #ffffff;
}

.lpmiddle5{
    display: flex;
    flex-direction: row;
    margin: 0 0 160px 0;
    height: 566px;
    background-color: #ccf1fe;
    width: 1725px;
    height: 566px;
}
.lpmiddle5a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:64px;
    padding-left: 128px;
    padding-bottom: 95px;
}
#lpheading5{
    width: 545px;
    height: 87px;
    font-family: 'Open Sans';
    font-size: 64px;
    font-weight: 700;
    color: #005e7d;
    line-height: 87px;
    font-style:normal;
    margin-top: 0px;
    padding-top: 0px;
}
#lptext5{
    width: 658px;
    height: 108px;
    font-family: 'Open Sans';
    line-height: 36px;
    font-size: 28px;
    font-weight: 400;
    margin-top: 40px;
    text-align: left;
}

.lpmiddle5b{
    padding: 89px 133px 88px 88px;
}

.lpmiddle6{
    margin: 0 635px 88px 635px;
}
#lpheading6{
    width: 458px;
    color: #00bbf9;
    font-family: 'Open Sans';
    line-height: 76px;
    font-size: 56px;
    font-weight: 600;
}
/* ###---MAIN END---### */

/* ###---FOOTER START---### */

footer {
    background-color: #005e7d;
    margin: 0 -1.25rem;
    padding: 1.25rem 0;
}

footer a:hover {
    color: hsl(180, 66%, 49%);
}

.footer_nav {
    color: white;
    display: flex;
    flex-direction: column;
}

.footer_nav section {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.footer_nav h4 {
    font-size: .85rem;
    margin: .5rem 0;
}

.footer_nav a {
    color: hsl(0, 0%, 75%);
    font-size: .75rem;
    margin: .25rem 0;
    text-decoration: none;
}

.socials a {
    color: white;
    font-size: 1.35rem;
    margin: 0 .25rem;
}

/* ###---FOOTER END---### */

/* ###---RESPONSIVE STYLING START---### */

/* ---Tablets--- */
@media screen and (min-width: 820px) {

    body {
        padding: 0 4rem;
    }

    header {
        margin: 0 -4rem;
        padding: 1.5rem 4rem;
    }

    header .menu_btn {
        display: none;
    }

    header .company-logo {
        font-size: 1.1rem;
        min-width: 6.5rem;
        margin: 0;
    }

    header a,
    header button {
        border-radius: 7px;
        cursor: pointer;
        font-size: .8rem;
        font-weight: 500;
        padding: 0 .8rem;
        margin: 0 .25rem;
    }

    .mob_search-bar {
        display: none;
    }

    header button {
        border: 1px solid #00BBF9;
        background-color: transparent;
        color: #00BBF9;
        min-width: 4.75rem;
    }

    header button:hover {
        border: 1px solid #003E53;
        color: white;
    }

    .desktop_nav {
        display: flex;
        align-items: center;
        width: 87.5%;
    }

    .search-icon {
        cursor: pointer;
        display: block;
        font-size: .8rem;

        position: absolute;
        left: .5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .desktop_nav .search-bar {
        display: flex;
        align-items: center;
        position: relative;
        height: 2rem;
        margin: 0 .25rem;
        width: 45%;
    }

    .desktop_nav input {
        padding: 0 1.5rem;
        width: 100%;
        height: 100%;
    }

    main {
        margin: 0 -4rem;
        padding: 2.5rem 4rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 -4rem;
        padding: 1.5rem 4rem;
        text-align: left;
    }

    .footer_nav {
        flex-direction: row;
        justify-content: space-between;
        margin: 1.25rem 0;
        width: 100%;
    }

    .footer_nav h4 {
        font-size: .85rem;
        margin: 0;
        margin-top: -0.35rem;
        margin-bottom: .5rem;
    }
}

/* ---Desktops--- */
@media screen and (min-width: 1020px) {

    body {
        padding: 0 6.5rem;
        width: 100vw;
    } 

    header {
        margin: 0 -6.5rem;
        padding: 2rem 6.5rem;
    }

    header a,
    header button {
        font-size: 1.1rem;
    }

    header button {
        min-width: 6rem;
    }

    main {
        margin: 0 -6.5rem;
        padding: 3.5rem 6.5rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 -6.5rem;
        padding: 1.5rem 6.5rem;
        text-align: left;
    }

    footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer_nav {
        margin: 0;
        width: 55%;
    }
}

/* ###---RESPONSIVE STYLING END---### */