@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

        .img-404 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            bottom: 40.97%;
        }

        .text-404{
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
        }
        .home-link-404{
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
        }
        a{
            text-decoration:none;
            color: #00BBF9;
        }