<footer class="lp-footer sp-footer">
    <div class="lp-footer-float sp-footer-float">
        <img src="/images/cp.png" alt="login signup cp" class="lp-cp sp-cp">
        <p> I4GxZURI TEAM Team_7</p>
    </div>
</footer>