<footer>
    <h2 class="company-logo"><a href="/">AUTH_WIKI</a></h2>
    <nav class="footer_nav">
        <section>
            <h4>Company</h4>
            <a href="/">About</a>
            <a href="/">FAQs</a>
            <a href="/">Teams</a>
            <a href="/">Community</a>
        </section>
        <section>
            <h4>Products</h4>
            <a href="/">Supported Libraries</a>
            <a href="/">Articles</a>
            <a href="/">Platforms</a>
        </section>
        <section>
            <h4>Documentation</h4>
            <a href="/">Tutorials</a>
            <a href="/">Guidelines</a>
            <a href="/">Reference</a>
            <a href="/">Conception</a>
        </section>
        <section>
            <h4>Contact Us</h4>
            <a href="/">Get in Touch</a>
            <a href="/">Report Issue</a>
            <a href="/">Connect</a>
            <a href="/">Help</a>
        </section>
    </nav>
    <div class="socials">
        <a href="/"><i class="fa-brands fa-facebook-square"></i></a>
        <a href="/"><i class="fa-brands fa-twitter"></i></a>
        <a href="/"><i class="fa-brands fa-pinterest"></i></a>
        <a href="/"><i class="fa-brands fa-instagram"></i></a>
    </div>
</footer>
<script src="/js/_base.js"></script>