.Rp-header {
    background-color: #fff;
    padding: 1.2rem;
    border: 1px solid #007DA6;
    border-radius: 0 0 8px 8px;
  }
  

.pass_reset_div{
    margin: 10rem auto;
    border-radius: 12px;
    background-color: #007DA6;
    padding: 2rem 0 4rem 0;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    place-items: center;
}

.pr_button{
  width: your width !important;
}

.pr_input{
  width: your width !important;
}