{% extends 'base.html' %}


     
{% block content %}
<center style="margin-top: 100px;">

 
    {% load crispy_forms_tags %}          

	<!--Reset Password-->

  	 	<h2>Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div> 
    </form>


 </center>

</center>
{% endblock %}