[data-aos] {
    pointer-events: none;
  }
  .aos-animate {
    pointer-events: auto;
  }
  .aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
  }

.base_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0 1.25rem;
    text-align: center;
}


/* sticky back to tup */

.sticky_back_to_top img{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sticky_back_to_top img:hover{
    transition: 0.7s;
    margin-bottom: 35px;
}
/* sticky back to tup */


/* ###---HEADER START---### */

header {
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 1.25rem 0;
}

header,
.desktop_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .company-logo {
    font-size: 1.25rem;
    letter-spacing: .05rem;    
    text-align: left;
}

header a,
header button {
    border: none;
    /* background-color: #557E8C; */
    color: black;        
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;  
    font-weight: 600;  

    height: 2rem;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
}

header a:hover {
    border-radius: 0;
    border-bottom: 2px solid #003E53;
}


header .signup-btn {
    background-color: #00BBF9;
    border: none;
    color: white;    
}

header button:hover {
    background-color: #003E53;
}

header input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 .5rem;
}

header input:focus {
    outline: none;
}

.mob_search-bar {    
    display: flex;
    align-items: center;
    position: relative;    
    width: 50%;
}

.search-icon {
    cursor: auto;
    color: #4F4F4F;
    font-size: .8rem;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: .5rem;    
}

::placeholder {
    color: #4F4F4F;
}

.mob_search-bar input {
    cursor: auto;
    width: 100%;
    height: 1.75rem;
    padding: 0 1.75rem;   
}

.company-logo {
    color: #00BBF9;    
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: .2rem;
}

.company-logo > a {
    color: unset;
    padding: 0;
    text-decoration: none;
}

.company-logo > a:hover {
    border-bottom: none;
    text-decoration: none;
}

.desktop_nav {
    display: none;
}

.desktop_nav > .btn-link:hover {
    border-bottom: none;
}

.mobile_nav {
    display: flex;
}

.nav_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #003E53;
    border-radius: 10px;
    height: 60vh;
    padding: 2rem 1.5rem;
    width: 80vw;

    position: absolute;
    top: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .7s ease-out;
    z-index: 3;
}

.nav_card a,
.nav_card button {
    background-color: transparent;
    color: white;
}

.nav_card.hide {
    left: -100vw;
}

.menu_btn {
    cursor: pointer;
    font-size: 1.25rem;
}

.menu_btn:hover {
    color: #003E53;
}

/* ###---HEADER END---### */


/* ###---MAIN START---### */

.base_main {
    display: flex;
    flex-direction: column;
    text-align: left;    
}

/* ###---MAIN END---### */

/* ###---FOOTER START---### */

footer {
    background-color: #003E53;
    margin: 0 -1.25rem;
    padding: 1.25rem 0;
}

footer .company-logo {
    color: white;
}

footer a:hover {
    color: hsl(180, 66%, 49%);
}

.footer_nav {
    color: white;
    display: flex;
    flex-direction: column;
}

.footer_nav section {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.footer_nav h4 {
    font-size: .85rem;
    margin: .5rem 0;
}

.footer_nav a {
    color: hsl(0, 0%, 75%);
    font-size: .75rem;
    margin: .25rem 0;
    text-decoration: none;
}

.socials a {
    color: white;
    font-size: 1.35rem;
    margin: 0 .25rem;
}

/* ###---FOOTER END---### */


/* ###---RESPONSIVE STYLING START---### */

/* ---Tablets--- */
@media screen and (min-width: 820px) {

    .base_body {
        padding: 0 4rem;
    }

    header {
        margin: 0 -4rem;
        padding: 1.5rem 4rem;
    }

    header .menu_btn {
        display: none;
    }
    
    header .company-logo {
        font-size: 1.1rem;
        min-width: 6.5rem;
        margin: 0;
    }

    header a,
    header button {
        border-radius: 7px;
        cursor: pointer;
        font-size: .8rem;
        font-weight: 500;
        padding: 0 .8rem;
        /* margin: 0 .25rem;         */
    }

    .mob_search-bar {
        display: none;
    }

    header button {
        border: 1px solid #00BBF9;
        background-color: transparent;
        color: #00BBF9;
        min-width: 4.75rem;
    }

    header button:hover {
        border: 1px solid #003E53;
        color: white;
    }   

    .desktop_nav {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .search-icon {        
        display: block;
        font-size: .8rem;

        position: absolute;
        left: .5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .desktop_nav .search-bar {
        display: flex;
        align-items: center;                
        position: relative;
        height: 2rem;
        margin: 0 .25rem;
        width: 45%;
    }

    .desktop_nav input {
        cursor: auto;
        padding:0  1.5rem;
        width: 100%;
        height: 100%;
    }

    .base_main {
        margin: 0 -4rem;
        padding: 2.5rem 4rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 -4rem;
        padding: 1.5rem 4rem;
        text-align: left;
    }

    .footer_nav {
        flex-direction: row;
        justify-content: space-between;
        margin: 1.25rem 0;
        width: 100%;
    }

    .footer_nav h4 {
        font-size: .85rem;
        margin: 0;
        margin-top: -0.35rem;
        margin-bottom: .5rem;
    }
}

/* ---Desktops--- */
@media screen and (min-width: 1200px) {

    .base_body {
        padding: 0 6.5rem;
    }

    header {
        margin: 0 -6.5rem;
        padding: 2rem 6.5rem;
    }

    header a,
    header button {        
        font-size: 1.1rem;        
    }

    header button {
        min-width: 7rem; 
        padding: 0 1.5rem;       
    }
    

    .base_main {
        margin: 0 -6.5rem;
        padding: 3.5rem 6.5rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 -6.5rem;
        padding: 1.5rem 6.5rem;
        text-align: left;
    }

    footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer_nav {
        margin: 0;
        width: 55%;
    }
}

/* ###---RESPONSIVE STYLING END---### */