 
/*MAIN STARTS HERE*/
.faq-main{
  overflow-x: hidden;

}
.faq-design {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 62, 83, 1);
  background-image: url("/static/images/contact-us-banner.png");
  background-size: cover;
  z-index: 1;
  border-radius: 0 0 11% 11%;
  text-align: center;
}
.faq-design h1 {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 37px;
  color: white;
}
.faq-design input {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 15px;
  font-size: 24px;
}
.faq-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  height: auto;
  gap: 20px;
}
.faq-questions .faq-drops {
  width: 700px;
  height: 40px;
  border-bottom: 1px solid rgba(130, 130, 130, 1);
  text-align: left;
  font-size: 30px;
  padding: 0 30px 0 0;
}
.faq-questions .faq-drops img {
  width: 20px;
  height: 10px;
  position: relative;
}
.faq-illustrate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.faq-help {
  width: 100%;
  height: 70px;
  background-color: #003e53;
  text-align: center;
  color: white;
  padding: 10px 0;
}
.faq-search {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-left: 25%;
  
}
.faq-search input {
  width: 500px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid;
}
.faq-search button {
  width: 130px;
  height: 56px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #003e53;
  color: white;
}
.faq-grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 523px 523px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  column-gap: 80px;
  row-gap: 80px;
}
.faq-grid-item {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 400px;
  height: 240px;
  background-color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.68px;
  text-align: center;
}

#faq-grid-item {
  width: auto;
  margin-bottom: 70px;
  background-color: white;
  border: none;
  box-shadow: none;
}
#faq-grid-item4 {
background-color: #003e53;
  color: white;
}
.faq-grid-item input {
  width: 300px;
  height: 170px;
  border-radius: 8px;
}
.faq-grid-item h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 49.03px;
}
#faq-form3 button {
  margin-left: 24rem;
  width: 200px;
  height: 64px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 400;
  background-color: #003e53;
  color: white;
}
/*MAIN ENDS HERE*/
.faq-zuri-team {
  text-align: center;
  margin-top: 80px;
  font-size: 56px;
  font-weight: 600;
  color: #00bbf9;
}
 

/* ###---RESPONSIVE STYLING FOR HEADER AND FOOTER START---### */
@media screen and (max-width: 1440px) {
  .faq-design {
    width: 100%;
  }

  .faq-questions {
    width: 100%;
  }
  .faq-help {
    width: 100%;
  }
  .faq-grid-container {
    width: 100%;
    grid-template-columns: 400px 400px;
  }
  #faq-grid-item {
    width: auto;
    background-color: white;
    border: none;
    box-shadow: none;
  }
  #faq-grid-item input {
    width: 420px;
  }
}
@media screen and (max-width: 1020px) {
  .faq-design {
    width: 100%;
  }
  .faq-questions {
    width: 70%;
    margin-left: 15%;
  }
  .faq-questions .faq-drops {
    width: 80%;
    font-size: 15px;
  }
  .faq-help {
    width: 100%;
  }
  .faq-grid-container {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 350px 350px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    column-gap: 60px;
    row-gap: 40px;
  }

  #faq-grid-item input {
    width: 350px;
  }
  .faq-grid-container button {
    margin-left: 80px;
  }
  .faq-flex {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .faq-design {
    width: 100%;
    height: 300px;
  }
  .faq-design h1 {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
  }
  .faq-design input {
    width: 400px;
    height: 40px;
    top: 50%;
    left: 50%;
  }
  .faq-questions {
    width: 70%;
  }
  .faq-questions .drops {
    text-align: start;
    width: 400px;
    font-size: 15px;
  }
  .faq-help {
    width: 100%;
  }

  .faq-search {
    width: 100%;
    height: 20px;
     margin-left: 20%;
  }
  .faq-search input {
    width: 350px;
    
   
  }
  .faq-search button{
     
     width: 100px;
  }
  .faq-grid-container {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 523px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    column-gap: 60px;
    row-gap: 40px;
  }
  .faq-grid-item {
    margin-left: 15%;
    margin-top: 30px;
  }
  #faq-grid-item1 {
    order: 1;
  }
  #faq-grid-item2 {
    order: 2;
  }
  #faq-grid-item4 {
    order: 3;
  }
  #faq-grid-item {
    order: 4;
  }
  #faq-form3 {
    order: 5;
    
  }
  #faq-grid-item input {
    width: 400px;
  }
  
  .faq-zuri-team {
    font-size: 35px;
    padding-bottom: 20px;
  }
   
}
@media screen and (max-width: 470px) {
  .faq-design {
    width: 100%;
    background-size: contain;
    height: 200px;
  }
  .faq-design h1 {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
  }
  .faq-design input {
    width: 250px;
    height: 40px;
    top: 35%;
    left: 50%;
  }
  .faq-search input {
    width: 50%;
  }
  .faq-illustrate img {
    width: 90%;
    margin-right: 30px;
  }
  .faq-questions {
    width: 80%;
    margin-left: 12%;
  }
  .faq-questions .faq-drops {
    text-align: start;
    width: 280px;
    font-size: 15px;
  }
  .faq-help {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 0;
  }
  .faq-search {
    width: 100%;
    height: 20px;
    margin-left: 50px;
  }
  .faq-search input{
    width: 200px;
    height: 30px;
  }
  .faq-search button{
    width: 70px;
    height: 30px;
  }
  .faq-illustrate {
    width: 80%;
    margin-left: 50px;
  }
  .faq-grid-container {
    width: 100%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 300px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    column-gap: 60px;
    row-gap: 40px;
  }

  .faq-grid-item {
    width: 90%;
    height: 100%;
    font-size: 20px;
    margin-left: 5%;
  }
  #faq-grid-item1 {
    order: 1;
  }
  #faq-grid-item2 {
    order: 2;
  }
  #faq-grid-item4 {
    order: 3;
  }
  #faq-grid-item {
    order: 4;
  }
  #faq-form3 {
    order: 5;
  }
  #faq-grid-item input {
    border: 1px solid;
    width: 300px;
  }
  #faq-form3 button {
    margin-left: 100px;
    height: 40px;
  }
  .faq-zuri-team {
    font-size: 30px;
    padding-bottom: 40px;
  }
  .faq-footer-logo {
    color: white;
  }
}
 
.faq-drops {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
