.sp-main {
  margin-top: 50px;
  display: grid;
  place-items: center;
}

.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.card .sp-success-text {
  color: #27AE60;
}
