@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

.fp-head_link{
   text-decoration: none;
   color: #00BBF9;
}


.Fp-header {
    background-color: #fff;
    padding: 1.2rem;
    border: 1px solid #007DA6;
    border-radius: 0 0 8px 8px;
  }

.fpforgot-password {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
    font-family: 'Open Sans'
}

#fpinput {
    background: #FFFFFF;
    border: 1px solid #8C8C8C;
    border-radius: 8px;
    padding: 1rem 6rem 1rem 1rem ;
    color:  #8C8C8C;
}

#fpbutton {
    background: #00BBF9;
    border-radius: 8px;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    color: #FFFFFF;
    margin-left: 5rem;
    margin-top: 1rem;
}

#fp-headin{
    font-weight: 400;
    text-align: center;
    color: #1D1D1D;
}

#fp-text{
    font-weight: 400;
    text-align: left;
    color: #1D1D1D;
}



  #fpinput::placeholder{
    font-size: 12px;
  }