.first_wrapper{
    margin: 40px 90px;
    height: auto;
    padding-bottom: 100px;
    background-color: #CCF1FE;
    border-radius: 20px;
}
.first_wrapper_in{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: 65px;
}
.first_box{
   
    width: 90%;
    justify-self: end;
}
.first_box img{
    height: 250px;
width: 100%;

}
.first_box h3, p{
    text-align: start;
}
.first_box h3{
    color: #005E7D;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
}
.first_box p{
    color: #1D1D1D;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: normal;
}




.second_box img{
    
    height: 100px;

margin-bottom: 20px;
    
    
}
.library_banner h3{
    font-weight: bold;
}

.second_wrapper_in{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    justify-content: center;
}
.second_box{
    text-align: center;
    width: 70%;
    justify-self: center;
  background: #005E7D;
    padding: 20px 0px;
    color: white;
    border-radius: 20px;
}
.second_box p{
 padding: 10px 20px;
}

.second_box a button{
    background-color: transparent;
     color: white;
     padding: 10px 25px;
font-size: 17px;
     outline: none;
     border: none;
     cursor: pointer;
 }


 .third_wrapper_in button{
    background: #00BBF9;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
 }





.second_wrapper{
    padding-top: 50px;
display: grid;
grid-template-columns: 1fr 1fr;
}

.second_wrapper_box{
    text-align: start;
    width: 75%;
    justify-self: center;
}
.second_wrapper_box h3{
    color: #005E7D;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 30px;
}
.second_wrapper_box p{

    padding-bottom: 30px;
    color: #1D1D1D;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: normal;
}
.second_wrapper_box button{
    background: #00BBF9;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    width: 100%;
 }

 
.second_wrapper_box_blur{
    display: grid;
    background: url("/static/images/PRODUCT pythonf 1.png");

}




 .second_wrapper img{
    height: auto;
    width: 100%;
    margin-left: 10px;
 }


 .second_third_wrap_in{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 .third_wrapper_box h3{
    color: #1D1D1D;
 }
.second_third_wrap_in img{
    width: 150;
    height: 150px;
} 
.third_wrapper_box{
    width: 75%;
    justify-self: center;
}

.third_wrapper{
    margin: 40px 90px;
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
    background-color: #CCF1FE;
    border-radius: 20px; 
}
.first_third_wrap_in h3{
    color: #005E7D;
    font-size: 42px;
    font-weight: 700;
}
.third_wrapper h3{
    
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    
    padding-bottom: 30px; 
}
.third_wrapper p{
    text-align: center;
    padding-bottom: 30px;
    color: #1D1D1D;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: normal;
}

.third_wrapper button{
    background: #00BBF9;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    width: 30%;
}







 
.fourth_wrapper{
    padding-top: 70px;
    display:grid;
    grid-template-columns:  1fr 1fr;
}
.fourth_wrap_inner{
    background: #005E7D;
    width: fit-content;
    padding: 30px 60px;
    border-radius: 10px;
    justify-self: center;
    display: grid;
}
.fourth_wrap_inner_box{
display: flex;
color: white;
padding-bottom: 30px;
}
.fourth_wrap_inner_box img{
    height: 100px;
}
.fourth_wrap_inner_box h3{
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 30px; 
    padding-top: 30px;
    margin-left: 5px;
}
.fourth_wrap_inner_box p{
    padding-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.fourth_wrap_inner button{
    background: #00BBF9;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    justify-self: center;
    width: 100%;
 
}






.fifth_wrapper{
   margin-top: 120px;
    background: #CCF1FE;
    padding: 70px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fifth_wrapper_box{
    width: 80%;
    justify-self: center;
    text-align: start;
    padding: 20px 0px;

}
.fifth_wrapper_box img{
    width: 100%;
}
.fifth_wrapper_box h3{
    color: #005E7D;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: start;
}
.fifth_wrapper_box p{
    padding-bottom: 30px;
    color: #1D1D1D;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: normal;
}


.fifth_wrapper_box button{
    background: #00BBF9;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    width: 90%;
}



.sixth_wrapper h3{
    padding-top: 100px;
    text-align: center;
    color: #00BBF9;
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 500;
    padding-bottom: 30px;
}












 @media screen and (max-width:800px){
    .first_wrapper_in, .second_wrapper_in, .second_wrapper, .second_third_wrap_in, .fourth_wrapper, .fifth_wrapper{
        grid-template-columns: 1fr;
    }
    .first_box{
        width: 95%;
    }
    .first_box, .second_box{
       margin: 15px 0px;
    }
    .fourth_wrap_inner_box img{
        height: 70px;
    }
    .fourth_wrap_inner_box h3{
        color: white;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 30px; 
        padding-top: 30px;
        margin-left: 5px;
    }
    .fourth_wrap_inner{
        margin: 15px 0px;
        width: 80%;
    }
    .fourth_wrap_inner button{
        width: fit-content;
    }
    .first_wrapper, .third_wrapper{
        margin: 20px 40px;
    }
    .first_box h3, .second_wrapper_box h3, .sixth_wrapper h3, .fifth_wrapper_box h3, .third_wrapper h3{
        font-size: 30px;
    }
    .third_wrapper button{
        width: auto;
    }
}
