.page_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    padding: 0 1.25rem;
    text-align: center;
}



/* ###---MAIN START---### */

/* .page_main {
    display: flex;
    flex-direction: column;
    text-align: left;    
}

.page_main h1 {    
    color: #00BBF9;
    font-size: 1.5rem;
    text-align: center;
}

.page_main h2 {
    font-size: 1.2rem;
}

.page_main h3 {
    font-size: 1.1rem;
}

.page_main a {
    color: black;
    text-decoration: none;
}

.page_main a:hover {
    color: #003E53;
    text-decoration: underline;
}

.page_article h2 {
    color: #00BBF9;
    font-size: 1.75rem;
    margin: 1rem 0 3rem;
    text-align: center;    
}

.page_article h3 {
    font-size: 1.7rem;
    margin: 1.35rem 0;
}

.page_article .page_more-link {
    color: #9B5DE5;    
    width: 100%;
}

.page_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    color: #1D1D1D;
    margin: 1rem 0 1.5rem;
    min-height: 200px;    
    overflow: hidden; 
    text-align: left;       
}

.page_section h3 {
    width: 100%;
}

.page_section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #005E7D;   
    border-radius: 8px; 
    color: white;
    padding: 1rem;
    margin: 1rem 0;        
    width: 100%;    
}

.page_section img {
    width: 3rem;
    margin-bottom: .75rem;
}

.page_section h4, .page_section a, .page_buttons-container {
    margin: 1rem 0;
    color: white;
}

.article_section {    
    background-color: #CCF1FE;
    margin: 0 -1.25rem;
    padding: 0 1.25rem;
}

.page_section .page_products--img {
    width: 60%;
    margin: 2rem auto;
}  */














.all_libraries h3{
 margin-left: 8%;
}
.library_page{
    padding-top: 50px; 
    padding-top: 70px;
}
.library_page h2{
    text-align: center;
    font-weight: bold;
}


.library_banner{
    width: 100%;
}
.library_banner img{
    
    height: 100px;

margin-bottom: 20px;
    
    
}
.library_banner h3{
    margin-bottom: 50px;
    font-weight: bold;
}

.library_holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    justify-content: center;
}
.library_block{
    margin: 30px 6%;
    width:90%;
    justify-self: center;
  text-align: center;
    background-color: #005E7D;
    padding: 40px 0px;
    color: whitesmoke;
    border-radius: 10px;
}

.library_block a button{
    background-color: transparent;
     color: white;
     padding: 10px 25px;
font-size: 17px;
     outline: none;
     border: none;
     cursor: pointer;
 }
 .library_articles{
    background-color: #CCF1FE;
    padding: 60px 60px;
    margin: 15px;
    border-radius: 20px;
 }
 .library_articles h3{
    margin: 3%;
 }




 .articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
.article_box{
    width: 90%;
    justify-self: center;
    color: white;
    background-color: #005E7D;
    text-align: center;
    padding:60px 10px;
    border-radius: 10px;
    margin: 20px 0px;
}
.article_box p{
    text-align: start;
}

.article_box h3{
    padding-bottom: 20px;
    font-size: 22px;
    margin: 0;
}


.library_b_image{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}
.library_b_image img{
    height: 500px;
    width: 80%;
    /* width: 100%; */
}
.library_b_image h3{
color: #47CEFA;
font-weight: bold;
}












 @media screen and (max-width:800px){
    .library_holder, .articles{
        grid-template-columns: 1fr;
    }
    .library_articles{
        padding: 50px 20px;
    }
}












/* ###---MAIN END---### */

/* ###---FOOTER START---### */



















/* ###---FOOTER END---### */


/* ###---RESPONSIVE STYLING START---### */

/* ---Tablets--- */

/* @media screen and (min-width: 820px) {

    .page_body {
        padding: 0 4rem;
    }

    header {
        margin: 0 -4rem;
        padding: 1.5rem 4rem;
    }

    header .menu_btn {
        display: none;
    }
    
    header .company-logo {
        font-size: 1.1rem;
        min-width: 6.5rem;
        margin: 0;
    }

    header a,
    header button {
        border-radius: 7px;
        cursor: pointer;
        font-size: .8rem;
        font-weight: 500;
        padding: 0 .8rem;
        margin: 0 .25rem;        
    }

    .mob_search-bar {
        display: none;
    }

    header button {
        border: 1px solid #00BBF9;
        background-color: transparent;
        color: #00BBF9;
        min-width: 4.75rem;
    }

    header button:hover {
        border: 1px solid #003E53;
        color: white;
    }   

    .desktop_nav {
        display: flex;
        align-items: center;
        width: 87.5%;
    }

    .search-icon {
        cursor: pointer;
        display: block;
        font-size: .8rem;

        position: absolute;
        left: .5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .desktop_nav .search-bar {
        display: flex;
        align-items: center;                
        position: relative;
        height: 2rem;
        margin: 0 .25rem;
        width: 45%;
    }

    .desktop_nav input {
        padding: 0 1.5rem;
        width: 100%;
        height: 100%;
    }

    .page_main {
        margin: 0 -4rem;
        padding: 2.5rem 4rem;
    }

    .article_section {            
        margin: 0 -4rem;
        padding: 0 4rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 -4rem;
        padding: 1.5rem 4rem;
        text-align: left;
    }

    .footer_nav {
        flex-direction: row;
        justify-content: space-between;
        margin: 1.25rem 0;
        width: 100%;
    }

    .footer_nav h4 {
        font-size: .85rem;
        margin: 0;
        margin-top: -0.35rem;
        margin-bottom: .5rem;
    }
}  */

/* ---Desktops--- */
/* @media screen and (min-width: 1200px) {

    .page_body {
        padding: 0 6.5rem;
    }

    header {
        margin: 0 -6.5rem;
        padding: 2rem 6.5rem;
    }

    header a,
    header button {        
        font-size: 1.1rem;        
    }

    header button {
        min-width: 6rem;        
    }

    .page_main {
        margin: 0 -6.5rem;
        padding: 3.5rem 6.5rem;
    }

    .page_section div {              
        padding: 1.5rem;                
        width: 45%;    
    } 
    
    .page_article .page_more-link {        
        margin-left: 95%;   
    }
    
    .article_section {            
        margin: 0 -6.5rem;
        padding: 0 6.5rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 -6.5rem;
        padding: 1.5rem 6.5rem;
        text-align: left;
    }

    footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer_nav {
        margin: 0;
        width: 55%;
    }
} */

/* ###---RESPONSIVE STYLING END---###