@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans';
}
.cancel{
    display: flex;
    justify-content: flex-end;
}
.tutorial-overlay{
    background-color: #002532;
    padding: 4rem 1rem 4rem 2rem;
    margin-right: 8rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.textdiv{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}

#tutorialimg{
    max-width: 400px;
    overflow: hidden;
}

.cancel_btn{
    border: none;
    border-radius: 50%;
    background-color: #002532;
    color: #CCF1FE;
}

@media screen and (max-width:800px) {
    #tutorialimg{
        max-width: 200px;
        overflow: hidden;
    }


    .tutorial-overlay{
        background-color: #002532;
        padding: 4rem 1rem 4rem 1rem;
        margin-right: 1rem;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
    }
    


    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
    }
}